/***** DEMO ZONE *****/

#product_list_result li {
    display: flex;
    margin-bottom: 5px;
}

#product_list_result li:last-child {
    margin-bottom: 15px;
}

#product_list_result li::marker {
    content: none;
}

#product_list_result li .product_searched {
    cursor: pointer;
}

#product_list_result li .product_searched:hover,
#product_list_result li .product_searched:focus {
    text-decoration: underline;
}

.process-icon-save.icon-refresh {
    content: "\F021"!important;
}

/***** IMAGES *****/

.image_container {
    max-width: 100%;
    overflow: auto;
}

.image_inner {
    display: flex;
    justify-content: center;
}

.image_original {
    display: flex;
    padding-right: 5px;
}

.image_optimized {
    display: flex;
    padding-left: 5px;
}

.image_inside {
    display: flex;
    flex-flow: column;
    align-items: center;
}