
.core-cookie-bar.mobile {
    position: fixed;
    width: 100%;
    z-index: 700000;
    top: 0;
    right: 0;
    background-color: #FFFFFF;
    font-size: 14px;
    opacity: 1;
    color: #000000;
}

.core-cookie-bar.mobile.position-bottom {
    bottom: 0px;
    border-radius: 0 0 45px 45px;
    top: 43%;
    right: 0;
}

.core-cookie-bar.mobile .side {
    position: absolute;
    top: 10px;
    right: 10px;
}

.core-cookie-bar.mobile .message {
    width: 90%;
    margin: 0px auto;
    padding-top: 20px;
    padding-left: 46px;
    padding-right: 10px;
    font-size: 14px;
    line-height: 20px;
}

.core-cookie-bar.mobile .cookie-icon {
    position: absolute;
    top: 22px;
    left: 10px;
    fill: #000000;
}

.core-cookie-bar.mobile .cookie-icon svg {
    width: 40px;
    height: 40px;
}

.core-cookie-bar.mobile .buttons {
    margin-top: 10px;
    display: flex;
    height: fit-content;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.core-cookie-bar.mobile .buttons .button.reject {
    width: 70px;
    cursor: pointer;
    font-weight: 400;
    height: auto;
    padding: .4em .8em;
    margin-right: 18px;
    color: #000000;
    font-size: 12px;
}

.core-cookie-bar.mobile .buttons .button.agree {
    box-shadow: none;
    border-radius: 4px;
    border: none;
    padding: .4em .8em;
    height: auto;
    text-align: center;
    color: #F8F8F8;
    background: #000000;
    font-size: 12px;
}

.core-cookie-bar.mobile .buttons .wrap-preferences {
    flex-basis: 100%;
    margin-top: 14px;
}

.core-cookie-bar.mobile .buttons .button.preferences {
    border: 1px solid;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: fit-content;
    margin: 0 auto;
    padding: .4em .8em;
    color: #000000;
    border-color: #000000;
    font-size: 12px;
}

.core-cookie-bar.mobile .buttons .button {
    display: block;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 4px;
}

/*Desktop*/
.core-cookie-bar.desktop {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    padding: 16px 18px 16px 29px;
    padding-left: 60px;
    display: flex;
    z-index: 700000;
    background-color: #FFFFFF;
    font-size: 14px;
    opacity: 1;
    color: #000000;
}



.core-cookie-bar.desktop .side {
    position: absolute;
    top: 10px;
    right: 10px;
}

.core-cookie-bar.desktop .cookie-icon {
    position: absolute;
    top: 22px;
    left: 20px;
    fill: #000000;
}

.core-cookie-bar.desktop .message {
    flex: 4;
    padding-left: 22px;
    padding-top: 16px;
    padding-bottom: 16px;
    line-height: 18px;
    font-size: 14px;
}

.core-cookie-bar .message > a {
    font-size: 12px;
    color: #000000;
    text-decoration: underline;
}

.core-cookie-bar.desktop.-no-c-icon .message {
    padding-left: 8px;
}

.core-cookie-bar.desktop .buttons {
    flex: 4;
    display: flex;
    justify-content: flex-end;
    margin-right: 4px;
    align-items: center;
}

.core-cookie-bar.desktop .buttons .button {
    height: fit-content;
    padding: 6px;
    border-radius: 6px;
    cursor: pointer;
}

.core-cookie-bar.desktop .buttons .button.preferences {
    border: 1px solid;
    color: #000000;
    border-color: #000000;
    font-size: 12px;
}

.core-cookie-bar.desktop .buttons .button.agree {
    color: #F8F8F8;
    background: #000000;
    font-size: 12px;
}

.core-cookie-bar.desktop .buttons .button.reject {
    color: #F8F8F8;
    background: #000000;
    font-size: 12px;
}

.core-cookie-bar.desktop.type-full_bar.position-full_bar_top {
    top: 0;
    bottom: unset;
}

.core-cookie-bar.desktop.type-float_bar {
    max-width: 650px;
    min-width: 300px;
    border-radius: 5px;
    position: fixed;
    display: block;
    margin: 0;
    padding: 16px;
    padding-left: 60px;
    padding-right: 20px;
}

.core-cookie-bar.desktop.type-float_bar.position-float_bar_bl {
    left: 3.88%;
    bottom: 7.88%;
}}

.core-cookie-bar.desktop.type-float_bar .buttons {
    margin-top: 12px;
    justify-content: flex-end;
}

.core-cookie-bar.desktop.type-float_bar .buttons .button {
    margin-right: 8px;
}

.core-cookie-bar.desktop.type-float_bar .buttons .button.agree {
    margin-right: 0;
}

.core-cookie-bar.desktop.type-float_bar.position-float_bar_tr {
    right: 3.88%;
    top: 3.88%;
    bottom: unset;
    left: unset;
}

.core-cookie-bar.desktop.type-float_bar.position-float_bar_tl {
    left: 3.88%;
    top: 3.88%;
    bottom: unset;
}

.core-cookie-bar.desktop.type-float_bar.position-float_bar_br {
    right: 3.88%;
    bottom: 3.88%;
    left: unset;
}
/*Desktop*/

.core-cookie-bar.-no-c-icon.desktop {
    padding-left: 16px !important;
}

.core-cookie-bar.-no-c-icon.mobile .message {
    padding-left: 0;
}

.core-cookie-bar .cookie-icon img {
    width: 40px;
}

.core-cookie-bar.desktop.type-full_bar .buttons {
    gap: 10px;
    margin-right: 16px;
}

.core-cookie-bar.desktop .side .button-close {
    cursor: pointer;
    fill: #000000;
}

.core-cookie-bar.desktop.type-full_bar .message {
    padding-left: 28px;
    padding-top: 0;
    padding-bottom: 0;
}

.core-cookie-bar.desktop.type-full_bar .cookie-icon {
    top: 14px;
}

.core-reference-container {
    background: rgba(0,0,0,.5);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 700000;
    transform: scale(1);
    width: 100vw;
    height: 100%;
    display: none;
}

.core-reference-settings {
    z-index: 700001;
    -webkit-box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 20px 0 rgba(0,0,0,.2);
    width: 705px;
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%,-50%);
    transform: translate(-50%,-50%);
    background: #FFFFFF;
}

.core-reference-settings .core-header {
    border-bottom: 1px solid hsla(0,0%,43.9%,.1);
    height: 80px!important;
    line-height: 80px;
    padding: 0 35px;
    color: #000000;
    border-bottom: aliceblue;
    position: relative;
}

.core-reference-settings .core-header .core-btn-close {
    position: absolute;
    top: 0;
    right: 35px;
    top: 8px;
    cursor: pointer;
}

.core-reference-settings .core-header .core-btn-close svg {
    width: 26px;
    fill: #000000;
    height: 26px;
}

.core-reference-settings .core-content {
    padding: 20px 35px;
    max-height: 500px;
    overflow-y: auto;
    padding-top: 0;
}

.core-reference-settings .core-actions {
    border-top: 1px solid hsla(0,0%,43.9%,.1);
    padding: 22px 35px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    align-items: center;
    background: #FFFFFF;
    justify-content: space-between;
}

.core-content .core-reference-desc {
    color: #000000;
}

.core-content p {
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 4px;
}

.core-content .core-settings-options {
    margin: 16px 0 0;
}

.core-settings-option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-bottom: 25px;
    position: relative;
}

.core-settings-option>:first-child {
    padding-top: 3px;
}

.core-settings-option .core-switch input {
    opacity: 0;
    position: absolute;
    display: block!important;
}

.core-settings-option .core-switch label {
    color: #000;
    background: #ddd;
    display: block;
    width: 34px;
    height: 17px;
    border-radius: 17px;
    cursor: pointer;
    -webkit-transition: background .3s ease;
    transition: background .3s ease;
}

.core-settings-option .core-switch input+label {
    overflow: hidden;
    white-space: nowrap;
    line-height: 25px;
    padding: 0!important;
}

.core-settings-option .core-switch input:checked+label {
    padding: 0!important;
    background: #343434;
}

.core-settings-option .core-switch label:before {
    content: "\20"!important;
    display: block!important;
    width: 13px!important;
    height: 13px!important;
    border-radius: 100%!important;
    position: relative!important;
    top: 2px!important;
    left: 2px;
    border: 0!important;
    padding: 0!important;
    -webkit-transition: left .3s ease-out;
    transition: left .3s ease-out;
    background-color: #343434;
    -webkit-box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
    box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}

.core-settings-option .core-switch input:disabled+label:before {
    background: #343434 !important;
    cursor: not-allowed;
}

.core-settings-option .core-switch input:checked+label:before {
    left: 19px;
    background: #ddd !important;
}

.core-setting-option-detail {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    padding-left: 30px;
}

.core-setting-option-detail .-core-title {
    font-size: 16px;
    line-height: 24px;
    margin: 0 0 4px;
    color: #000000;
}

.core-setting-option-detail p {
    font-size: 13px;
    color: #000000;
}

@media (max-height: 700px) {
    .core-reference-settings .core-content {
        max-height: 350px;
    }
}

@media (max-height: 600px) {
    .core-reference-container {
        overflow: auto
    }

    .core-reference-settings {
        position: absolute;
        -webkit-transform: translate(-50%);
        transform: translate(-50%);
        top: 0;
    }

    .core-reference-settings .core-content {
        max-height: none;
        overflow-y: hidden;
    }
}

.core-reference-settings .core-actions .-core-btn {
    line-height: 1;
    height: unset;
    background: #000000;
    color: #F8F8F8;
    border: 0;
    padding: 14px 16px;
    font-size: 12px;
    letter-spacing: .2px;
    font-weight: 700;
    cursor: pointer;
    text-transform: uppercase;
    margin-bottom: 0!important;
    min-height: auto!important;
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.12);
    border-radius: 6px;
}

.core-reference-settings .core-actions .core-accept-reject-container {
    display: flex;
    gap: 10px;
}

.core-reference-settings .core-content::-webkit-scrollbar {
    width: 8px;
}

.core-reference-settings .core-content::-webkit-scrollbar-track {
    background: #ddd;
}

.core-reference-settings .core-content::-webkit-scrollbar-thumb{
    background: #aaa;
}

.core-reference-settings .core-content::-webkit-scrollbar-track:hover {
    background: rgba(0,0,0,0.2);
}

.core-reference-settings .core-header .core-title {
    font-size: 20px;
    font-weight: 700;
    -webkit-text-size-adjust: auto;
    -moz-text-size-adjust: auto;
    -ms-text-size-adjust: auto;
    text-size-adjust: auto;
}

.core-reference-container.-mobile .core-reference-settings {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    transform: unset;
}

.core-reference-container.-mobile .core-reference-settings .core-header .core-title {
    line-height: 26px;
    padding-top: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.core-reference-container.-mobile .core-reference-settings .core-header .core-btn-close {
    right: 16px;
    top: 0;
}

.core-reference-container.-mobile .core-reference-settings .core-content {
    max-height: 360px;
}

.core-reference-container.-mobile .core-reference-settings .core-actions {
    gap: 26px;
}

.core-reference-container.-mobile .core-reference-settings .core-actions .-core-btn span {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 98px;
    font-size: 10px;
}

.core-settings-tabs {
    height: 37px;
    position: relative;
    overflow: hidden;
    z-index: -10;
    margin: 0 1px;
}

.core-settings-tabs .core-settings-tablist-wrap {
    position: absolute;
    width: 100%;
    height: 64px;
    overflow: hidden;
    margin: 0 1px;
}

.core-settings-tabs .core-settings-tablist-wrap ul {
    list-style: none;
    margin: 0;
    padding: 0 35px;
    position: absolute;
    min-width: calc(100% - 70px);
    white-space: nowrap;
}

.core-settings-tabs .core-settings-tablist-wrap ul li {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    display: inline-block;
    margin-bottom: 0!important;
    padding: unset;
}

.core-settings-tabs .core-settings-tablist-wrap ul li a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 1px;
    padding-top: 0;
    cursor: pointer;
    padding-left: 0;
    color: #000000;
}

.core-settings-tabs .core-settings-tablist-wrap ul li.core-active a {
    text-decoration: underline;
}

.core-hidden {
    display: none;
}

.core-declaration-category-header {
    margin-bottom: 5px;
}

.core-declaration-category {
    font-size: 16px;
    margin: 0 0 5px;
    line-height: 24px;
    color: #000000;
    margin-top: 30px;
}

.core-declaration-category:first-child {
    margin-top: 0;
}

.core-declaration-category-desc {
    font-size: 13px;
}

.core-declaration-category-cookie {
    font-size: 14px;
    border-bottom: 1px solid;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.core-declaration-category-cookie:last-child {
    border-bottom: none;
}

.core-declaration-category-cookie .-core-content {
    font-size: 13px;
}


