#main {
    padding-bottom: 19px;
}

[data-module="sdevadeo"] p:last-child {
    margin: 0;
}

[data-module="sdevadeo"] .panel:last-child {
    margin-bottom: 0 !important;
}

[data-module="sdevadeo"] .btn i {
    display: inline-block !important;
}

[data-module="sdevadeo"] .sdevadeo-version {
    text-align: center;
}

[data-module="sdevadeo"] .sdevadeo-logo {
    text-align: center;
}

[data-module="sdevadeo"] .sdevadeo-logo img {
    max-height: 32px;
    max-width: 100%;
}

[data-module="sdevadeo"] .panel--full-height {
    display: flex;
    flex-direction: column;
}

[data-module="sdevadeo"] .panel--full-height > .panel-body {
    flex: 1 0 auto;
}

[data-module="sdevadeo"] .panel-footer {
    height: auto !important;
}

[data-module="sdevadeo"] .button-form-group {
    margin: .5em;
}

[data-module="sdevadeo"] #connection-panel > table tr {
    display: flex;
}

[data-module="sdevadeo"] #connection-panel > table tr > th:last-child,
[data-module="sdevadeo"] #connection-panel > table tr > td:last-child {
    left: 0;
    width: 15%;
}

[data-module="sdevadeo"] #category-rules-panel > table tr > th:last-child,
[data-module="sdevadeo"] #category-rules-panel > table tr > td:last-child {
    left: 0;
    width: 15%;
}

[data-module="sdevadeo"] #category-rules-panel > table tr > th:first-child,
[data-module="sdevadeo"] #category-rules-panel > table tr > td:first-child {
    left: 0;
    width: 5%;
}

[data-module="sdevadeo"] #connection-panel > table tr > * {
    text-align: center;
    width: 30%;
    padding: 1em;
    height: 100%;
}

[data-module="sdevadeo"] #categories-update {
    width: fit-content;
}

[data-module="sdevadeo"] .update-status {
    margin: 1em;
}

[data-module="sdevadeo"] #price-rule-panel table tr > th:not(:last-child),
[data-module="sdevadeo"] #price-rule-panel table tr > td:not(:last-child) {
    text-align: center;
    margin: auto;
    width: 20%;
    padding: 1em;
}

[data-module="sdevadeo"] #price-rule-panel td:not(:last-child) > div {
    width: 100%;
}

[data-module="sdevadeo"] .mapping-categories .row {
    display: flex;
    align-items: center;
}

[data-module="sdevadeo"] .optional-attributes > fieldset {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

[data-module="sdevadeo"] #product-flow #nbProductsProcessed,
[data-module="sdevadeo"] #offer-flow #nbProductsProcessed,
[data-module="sdevadeo"] .report-product-flow  {
    margin-top: 2em;
}

[data-module="sdevadeo"] #product-flow #progressBarFlow,
[data-module="sdevadeo"] #offer-flow #progressBarFlow {
    width: 100%;
}

[data-module="sdevadeo"] #product-flow #product-logs-info a,
[data-module="sdevadeo"] #product-flow #offer-logs-info a,
[data-module="sdevadeo"] #product-flow #no-product-logs-info a,
[data-module="sdevadeo"] #product-flow #no-offer-logs-info a {
    margin-right: 1em;
}

[data-module="sdevadeo"] .download-flow-button,
[data-module="sdevadeo"] .product-flow-utils {
    margin: 2em;
}

[data-module="sdevadeo"] .product-flow-utils a {
    margin-bottom: 2em;
}

[data-module="sdevadeo"] .sdev-offer-reports th,
[data-module="sdevadeo"] .sdev-offer-reports td,
[data-module="sdevadeo"] .sdev-product-reports th,
[data-module="sdevadeo"] .sdev-product-reports td {
    text-align: center;
}

[data-module="sdevadeo"] .sdev-offer-reports i,
[data-module="sdevadeo"] .sdev-product-reports i {
    margin-right: .5em;
}
[data-module="sdevadeo"] .values-update-status {
    margin-top: 1.5em;
}

[data-module="sdevadeo"] .manufacturer-mapping fieldset {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

[data-module="sdevadeo"] #display-orders ul {
    padding-left: 1em;
}
