<?xml version="1.0" encoding="UTF-8" ?>
<module>
	<name>updatecatalog</name>
    <displayName><![CDATA[Actualizar Catálogo Precios]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Actualiza el catálogo de precios]]></description>
	<author><![CDATA[José Fernández]]></author>
	<tab><![CDATA[front_office_features]]></tab>
	<is_configurable>1</is_configurable>
	<need_instance>1</need_instance>
</module>
