<div style="margin:0;background: whitesmoke;padding:10px">
    <table style="border-collapse:collapse;margin-left: auto;margin-right: auto;background-color: #fff;">
        <tbody>
        <tr>
            <td>
                <table style="border-collapse:collapse;text-align:center;width:100%;">
                    <tbody>
                    <tr>
                        <td></td>
                        <td><br></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style="width:15px;">
                            <div>
                                <br>
                            </div>
                        </td>
                        <td style="line-height:0px;max-width:600px;padding:0;">
                            <table style="border-collapse:collapse;">
                                <tbody>
                                <tr>
                                    <td style="width:100%;text-align:left;height:33px;">
                                        <div>
                                            <img src="{shop_logo}" alt="{shop_logo}" style="border:0px;width:auto;height:33px;">
                                        </div>
                                        <div>
                                            <br>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                        <td style="width:15px;">
                            <div>
                                <br>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>
        <tr>
            <td>
                <table style="border-collapse:collapse;margin:0 auto 0 auto;">
                    <tbody>
                    <tr>
                        <td>
                            <table style="border-collapse:collapse;margin:0 auto 0 auto;width:430px;">
                                <tbody>
                                <tr>
                                    <td>
                                        <table style="border-collapse:collapse;">
                                            <tbody>
                                            <tr>
                                                <td style="width:20px;">
                                                    <div>
                                                        <br>
                                                    </div>
                                                </td>
                                                <td>
                                                    <table style="border-collapse:collapse;">
                                                        <tbody>
                                                        <tr>
                                                            <td>
                                                                <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px;"> Hi {customer_first_name} {customer_last_name}! </p>
                                                                <p style="margin:10px 0 10px 0;color:#565a5c;font-size:18px;">You have just submitted a request of type "{meta_type_request}" at the
                                                                    <span style="color:#2b5a83;">
                                                                      <a href="{shop_url}" target="_blank" rel="noreferrer noopener">{shop_name}</a>
                                                                  </span>
                                                                    store.
                                                                </p>
                                                                <p style="margin:0;color:#565a5c;font-size:18px;">{customer_content_email}</p>
                                                                <p style="margin:0;color:#565a5c;font-size:18px;">
                                                                    To confirm, please click the link below. If you did not submit this request,
                                                                    <span style="color:#2b5a83;">
                                                                      <a href="{my_account_url}" target="_blank" rel="noreferrer noopener">change your account password</a>
                                                                  </span> and ignore this message.
                                                                </p>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height:20px;">
                                                                <div>
                                                                    <br>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td>
                                                                <div>
                                                                    <a href="{confirm_url}" target="_blank" rel="noreferrer noopener" style="color:#ffffff;text-decoration:none;background-color: #4184f3;padding: 10px;font-weight: bold;border-radius: 5px;">
                                                                        <span>Verify Request</span>
                                                                    </a>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td style="line-height:20px;">
                                                                <div>
                                                                    <br>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </td>
        </tr>

        </tbody>
    </table>
    <table style="border-collapse:collapse;margin:0 auto 0 auto;width:100%;max-width:600px;">
        <tbody>
        <tr>
            <td colspan="3" style="line-height:4px;">
                <div>
                    <br>
                </div>
            </td>
        </tr>
        <tr>
            <td style="width:15px;">
                <div>
                    <br>
                </div>
            </td>
            <td style="width:20px;">
                <div>
                    <br>
                </div>
            </td>
            <td style="text-align:center;">
                <div style="padding-top:10px;">
                </div>
                <div style="color:#abadae;font-size:11px;margin:0 auto 5px auto;">{shop_name}. {shop_address}<br>
                </div>
            </td>
            <td style="width:20px;">
                <div>
                    <br>
                </div>
            </td>
            <td style="width:15px;">
                <div>
                    <br>
                </div>
            </td>
        </tr>

        </tbody>
    </table>
</div>