/* SHIPPING COST CALCULATOR */
.scc-main {
  margin-bottom: 15px;
}

.scc-button {
  background: black;
  color: white;
  width: 80%;
  border: none;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
}

.scc-select {
  background: #FFF url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAQAAAD9CzEMAAAAPklEQVR4Ae3TwREAEBQD0V/6do4SXPZg7EsBhsQ8IEmSMOsiuEfg3gL3oXC7wK0bd1G4o8X9F4yIkyQfSrIByQBjp7QuND8AAAAASUVORK5CYII=) no-repeat scroll right .5rem center / 1.25rem 1.25rem;
}

#province-selector-box {
  margin-top: 10px;
  margin-bottom: 10px;
}

.scc-postalcode-input {
  height: 38px;
  padding: 5px;
}

.scc-title {
  font-size: 15px;
  font-weight: 600;
  text-transform: uppercase;
}

.scc-coin {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bolder;
}

.scc-result {
  margin-top: 10px;
}

@media (max-width: 1024px) {
  .scc-main {
    width: 90%;
  }
}

div#deliveryPriceCalculator {
    display: none;
}

body#cart div#deliveryPriceCalculator {
    display: block !important;
}

/* PRODUCT DELIVERY ESTIMATE MODAL */

#deliveryEstimateModal .scc-modal-form {
    max-width: 300px;
    margin: 0 auto;
}

#deliveryEstimateModal .modal-text {
    padding: 15px;
    padding-top: 0;
    margin-top: 0;
}

#deliveryEstimateModal .scc-modal-form .form-group {
    text-align: left;
}

.scc-button{
  cursor:pointer;
}

.additionalDeliveryInfo {
    margin-top: 50px;
    padding: 20px;
    padding-bottom: 5px;
    background: #f0f0f0;
}

.additionalDeliveryInfo p{
    font-weight: 500 !important;
}

div#deliveryEstimateResults {
    margin-top: 50px;
}